.section-max {
  margin-top: 200px;
  margin-bottom: 200px;
}

.header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.125rem 0.25rem rgb(55 55 55 / 8%);
}
.text-white {
  color: #000 !important;
}
.header .nav-link {
  color: #000;
}

/* content */
.content .breadcrumb {
  padding-bottom: 40px;
}
.content .breadcrumb a {
  color: rgb(0, 0, 0);
}
.content .breadcrumb li {
  color: rgb(39, 111, 255);
  font-size: 18px;
  font-weight: 600;
}
.content h2 {
  font-weight: 800;
  color: #b50000;
  margin-top: 30px;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: center;
}

.content h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  color: #636363;
  margin-bottom: 40px;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 2px;
}
.content .left img {
  width: 100%;
}
.content p {
  font-size: 16px;
  color: rgb(63, 63, 63);
  line-height: 1.6;
  text-indent: 45px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .slider .btn-arrow {
    display: none;
  }
  .content img {
    width: 100%;
  }
  .content .right {
    padding: 20px;
  }

  .title {
    font-size: 30px;
  }
  .section {
    padding-top: 100px;
  }
}
